rtpt==0.0.4
yapf==0.40.2
pre-commit==3.4.0
wandb==0.15.11
omegaconf==2.3.0
open_clip_torch==2.20.0
hydra-core==1.3.2
jupyterlab==4.0.6
joblib==1.3.2
transformers==4.33.2
diffusers==0.21.2
scipy==1.11.2
ftfy==6.1.1
datasets==2.14.5
torchmetrics==1.2.0
scikit-learn==1.3.1
matplotlib==3.8.0
seaborn==0.12.2
git+https://github.com/modestyachts/ImageNetV2_pytorch
git+https://github.com/openai/CLIP.git
lightning==2.0.9